{extends 'modal.latte'}

{block modalcontent}
<div id="modal-body-{$titulo}" class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div class="col">
            <p class="h4 mt-4">Espere un momento</p>
        </div>
    </div>
</div>
{/block}