{extends 'modal.latte'}

{block modalcontent}
<div id="modal-body-{$titulo}" class="modal-body">
    <div class="row">
        <i class="ml-4 mt-3 fas fa-exclamation-triangle fa-4x" style="color:green;width:80px;height:80px;"></i>
        <div class="col">
            <p id="ok-message-{$titulo}" class="h4 mt-4">¡Hecho!</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
{/block}