{extends '../base/base.latte'}

{block header}{/block}

{block body}
<h1>Hola, haz click en el siguiente enlance para reestablecer tu contraseña</h1>
<a href="http://localhost/activar/{$codigo}" type="button">Click</a>
{/block}

{block footer}{/block}