{extends 'base/base.latte'}

{block css}
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/main.css">
{/block}

{block body}
  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Land Travel</h1>
      <p class="lead">Pagina en viajes.</p>
    </div>
  </div>
 
{/block}