{extends '../base/base.latte'}

{block body}
	{ifset $user} {if $user['tipo_usuario'] == 'Admin'}
		<div class="text-right">
			<a href=""id="new-viaje" type="button"><i class="fas fa-plus-circle" style="width:16px;height:16px;"></i> Nuevo Viaje</a>
		</div>
	{/if}{/ifset}

	{include '../components/viajes.latte'}
{/block}

{block scripts}
	<script src="js/popover.js"></script>
{/block}
