.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  a {
    color: #5D6975;
    text-decoration: underline;
    
  }
  
  
  body {
    position: relative;
    width: 21cm;  
    height: 29.7cm; 
    margin: 0 auto; 
    color: #001028;
    background: #FFFFFF; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
    font-family: Arial;
  }
  
  header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  #logo {
    text-align: center;
    margin-bottom: 10px;
  }
  
  #logo img {
    width: 90px;
  }
  
  h1 {
    border-top: 1px solid  #5D6975;
    border-bottom: 1px solid  #5D6975;
    color: #5D6975;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: center;
    margin: 0 0 20px 0;
    background: url(dimension.png);
  }
  
  #project {
    float: left;
    margin-left: 50px;
    margin-top: -133px;
  }
  
  #project span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
  }
  
  #company {
    float: right;
    text-align: right;
  }
  
  #project div,
  #company div {
    white-space: nowrap;        
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  
  }
  
  table tr:nth-child(2n-1) td {
    background:white;
  }
  
  table th,
  table td {
    text-align: left;
  
  }
  
  table th {
    padding: 5px 10px;
    color: black;
    background-color: white !important;
    white-space: nowrap;        
    font-weight: bold;
    text-align: center;
  }
  
  table .service,
  table .qty {
    text-align: center;
    vertical-align: middle !important;
  }
  
  table td {
    padding: 5px;
  }
  
  table td.service,
  table td.desc {
    vertical-align: top;
    font-size: 1.2em;
  }
  
  table td.unit,
  table td.qty,
  table td.total {
    font-size: 1.2em;
    text-align: left;
  }
  
  table td.grand {
    border-top: 1px solid;;
  }
  
  #notices .notice {
    color: #5D6975;
    font-size: 1.2em;
  }
  
  footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
  }
  
  #firma{
  margin-left: 290px;
  margin-top: 5px;
  }
  #raya{
    border-top: solid 1px;
    margin-top:60px;
    width: 170px;
    margin-left: 255px;
    border-width: thin;
  }
  table, td, th {
    border: 1px solid black;
    text-align: center;
  }
  #tablefecha{
    margin-left: 700px;
    width: 20px;
  }
  #idcorrelativo{
    margin-top: 10px;
    width: 400px;
    font-size: 4px;
  }
  
  #tablesub{
    margin-left: 500px;
    width: 40px;
    border-spacing: 2px;
    margin-top: -235px;
  }
  .color-tb{
  background-color: rgb(124, 163, 221)
  }
  
  .no-color{
    color:black !important;
    background-color: white;
  }
  