.bg {
    background-image: url('img/signup.png');
    background-size: cover;
    position: fixed;
    top:-60px;
    bottom: -150px;
    left: 0;
    right:0;
    z-index: -110;
}

.page-title{
    left: -28rem;
}

.registrar {
    margin-top: 5rem !important;
}

